#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}

.ant-input {
  min-height: 0% !important;
}

.dragAndDropWrong {
  fill: white;
  stroke: red;
  stroke-width: 2;
}

.dragAndDropRight {
  fill: white;
  stroke: green;
  stroke-width: 2;
}

.dropZone {
  fill: white;
  stroke: black;
  stroke-width: 2;
}

.info-login {
  align: middle;
  margin: auto;
  padding: 10;
  width: 60%;
  background: #ffdce0;
  border: solid 1px rgba(27, 31, 35, 0.15);
  color: #86181d;
  border-radius: 4px;
  margin-bottom: 10px;
}

line {
  fill: none;
  stroke: #000;
  stroke-width: 3px;
  stroke-linejoin: round;
  stroke-linecap: round;
}
